# Virtual Environment
venv/
env/

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyd
*.pyo

# System Files
.DS_Store # macOS system file
Thumbs.db # Windows system file

# Sensitive Files
.env # File potentially containing sensitive credentials

# VS Code Specific Files (optional)
# This ignores the folder VS Code uses for local workspace settings
.vscode/